
  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

 /* Carousel */
 .carousel-item{
   height: 100vh;
   min-height: 300px;
   background: no-repeat center center scroll;
   background-size: cover;
 }
 .carousel-caption{
   bottom: 220px;
 }
 .carousel-caption h5{
   font-size: 45px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 25px;
   font-family: merienda;
 }
.caurosel-caption p{
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  font-family: poppins;
}
.caurosel-caption a{
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}
.caption-anchor{
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}
.navbar-nav a{
  font-family: poppins;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: bold;
}
.navbar-light .navbar-brand{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .navbar-link.active,
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
  color: #fff;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
}

.navbar-nav{
  padding: .2rem 1rem;
}
.navbar-light .navbar-nav .nav-links:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #000 !important;
 } 
.w-100{
  height: 100vh;
}
@media only screen and (max-width: 767px){
  .navbar-nav.ml-auto{
    background: rgba(0,0,0,0.5);
  }
  .navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
}








